body {
    background: #FEFFDC;
}

a.navbar-brand{
    color: #559C50;
}
.navbar {
    background: #76BDE8;
}
.navbar-default .navbar-toggle {
    border-color: #559C50;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #81E877;
}

.panel.panel-primary {
    margin: 50px;
}

.themes {
    margin: 10px 0;
}

.panel-footer {
    display: flex;
    justify-content: flex-end;
}
